<!DOCTYPE html>
<html>

<head>
    <title>bartyBlog | Login</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin/login', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>