$background-color: #eee;
$white: #fff;
$active-color: #9b6724;
$primary-color: #315c79;
$button-color: #e69c79;
$button-create-color: #519a80;
$search-color: #f4f4f4;
$hover-background: #ccc;
$hover-text-color: #666;