body {
    font-family: 'Arial', sans-serif;
    background: $background-color;
    line-height: 1.6em;
}

.navbar {
    overflow: auto;
    min-height: 100px;
    background: $primary-color;
    color: $white;
    font-size: 18px;
    border: 0;
    border-radius: 0;
}

.navbar h1 {
    margin: 9 0 0 0;
    padding: 0;
}

.navbar a {
    color: $white !important;
}

.navbar a:hover {
    color: $button-color;
}

.navbar a.navbar-brand {
    color: $white !important;
}

.navbar ul {
    margin-top: 30px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: $button-color !important;
}

.search-form {
    margin-top: 30px;
}

.search-form input[type='text'] {
    border-radius: 0;
    height: 38px;
}

.search-form .btn {
    border: 0;
    height: 38px;
    margin-top: 0;
    border-radius: 0;
    margin-left: -5px;
}

.search-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.search-form .form-control {
    background: $search-color;
    border: 1px solid $background-color
}

.btn {
    border: none;
    border-radius: 0;
}

.btn-primary {
    background: $button-color;
}

.btn:hover {
    background: $hover-background;
    color: $hover-text-color;
}

.post {
    border: 1px solid $hover-background;
    background: $white;
    margin-bottom: 30px;
}

.post-content {
    padding: 20px;
    box-sizing: border-box;
}

.post h3 {
    margin: 0;
    padding: 0;
}

.post img {
    width: 100%;
}

.post small {
    background: $primary-color;
    color: $white;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
}

.form-group input[type='text'],
.form-group textarea {
    border-radius: 0;
}

footer {
    background: $primary-color;
    color: $white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    margin-top: 30px;
}